.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit), minmax(350px, 1fr);
    gap: 1rem;
    margin-top: 5rem;
}

.box {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}
.box math.py {
    color: #b467cc
}